amqp==5.3.1
asgiref==3.10.0
billiard==4.2.2
bleach==6.2.0
celery==5.5.3
chardet==5.2.0
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
Django==5.2.7
django-celery-beat==2.8.1
django-js-asset==3.1.2
django-newsletter==1.2
django-summernote==0.8.20.0
django-timezone-field==7.1
django-tinymce==4.1.0
django_celery_results==2.6.0
flower==2.0.1
humanize==4.13.0
kombu==5.5.4
packaging==25.0
pillow==11.3.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
redis==6.4.0
six==1.17.0
sorl-thumbnail==12.11.0
sqlparse==0.5.3
tornado==6.5.2
typing_extensions==4.15.0
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.14
webencodings==0.5.1